# Weekly 1

In [ ]:
panjang = 20.5
lebar = 25
tinggi = 10

keliling = 2*(panjang+lebar)
luas = panjang * lebar
volume = panjang * lebar * tinggi

print("Panjang = " , panjang)
print("Lebar = " , lebar)
print("Tinggi = " , tinggi)
print("Keliling = "  , keliling)
print("Volume = " , volume)

Panjang =  20.5
Lebar =  25
Tinggi =  10
Keliling =  91.0
Volume =  5125.0

In [2]:
def spasi(awal, akhir, enter=True) :
  total = 70;
  spasi = total - len(awal) - 2
  print(awal, " " * spasi,":", akhir)
  if enter :
    print("")

# Weekly 2

In [ ]:
# Rata- rata nilai Shafira
print("1. Rata-rata nilai Shafira pada kedua mata kuliah")
rataRataNilaiShafira = float((85 + 75) / 2)
spasi("Rata - rata nilai Shafira", rataRataNilaiShafira)

# Jumlah Nilai Hanif dan Andi
print("2. Jumlah nilai Hanif dan Andi untuk semua mata kuliah")
jumlahNilaiHanifDanAndi = float(75 + 90 + 70 + 75)
spasi("Jumlah Nilai Hanif dan Andi untuk semua Matakuliah", jumlahNilaiHanifDanAndi)

# Rata -rata Nilai Widya Dhanar Hikma dan Nedia Kalkulus 1 dan Metode Statistika
print("3. Rata-rata nilai Widya, Dhanar, Hikma dan Nedia pada masing-masing mata kuliah")
rataRataNilaiWidyaDhanarHikmaDanNediaKalkulus1 = float((85 + 85 + 80 + 95) / 4)
rataRataNilaiWidyaDhanarHikmaDanNediaMetodeStatistika = float((85 + 85 + 75 + 80) / 4)
spasi("Rata - rata Widya,Dhanar,Hikma,dan Nedia untuk Kalkulus1",rataRataNilaiWidyaDhanarHikmaDanNediaKalkulus1)
spasi("Rata - rata Widya,Dhanar,Hikma,dan Nedia untuk Statistika",rataRataNilaiWidyaDhanarHikmaDanNediaMetodeStatistika)

# Rata - rata NILAI KALKULUS
print("4. Rata-rata nilai mata kuliah Kalkulus 1 untuk semua mahasiswa")
rataRataKalkulus1Mahasiswa = float((85 + 80 + 75 + 95 + 85 + 75 + 70 + 85 + 80) / 9)
spasi("Rata - rata nilai Kalkulus 1 Mahasiswa", rataRataKalkulus1Mahasiswa)

# Rata - rata Nilai Metode Statistika
print("5. Rata-rata nilai mata kuliah Kalkulus 1 untuk semua mahasiswa")
rataRataMetodeStatistikaMahasiswa = float((75 + 90 + 80 + 80 + 85 + 90 + 75 + 85 + 75) / 9)
spasi("Rata - rata nilai Metode Statistik", rataRataMetodeStatistikaMahasiswa)

1. Rata-rata nilai Shafira pada kedua mata kuliah
Rata - rata nilai Shafira                                   : 80.0

2. Jumlah nilai Hanif dan Andi untuk semua mata kuliah
Jumlah Nilai Hanif dan Andi untuk semua Matakuliah          : 310.0

3. Rata-rata nilai Widya, Dhanar, Hikma dan Nedia pada masing-masing mata kuliah
Rata - rata Widya,Dhanar,Hikma,dan Nedia untuk Kalkulus1    : 86.25

Rata - rata Widya,Dhanar,Hikma,dan Nedia untuk Statistika   : 81.25

4. Rata-rata nilai mata kuliah Kalkulus 1 untuk semua mahasiswa
Rata - rata nilai Kalkulus 1 Mahasiswa                      : 81.11111111111111

5. Rata-rata nilai mata kuliah Kalkulus 1 untuk semua mahasiswa
Rata - rata nilai Metode Statistik                          : 81.66666666666667

# Weekly 3

In [3]:
# Jawaban Pertama

agustus = 31
sabtuMinggu = 8
tidakMasukKerja = 3
gaji = 8 * 30000          # 240.000
gajiKalauLibur = gaji * (agustus - (tidakMasukKerja + sabtuMinggu) )
gajiKalauTidakLibur = gaji * (agustus - tidakMasukKerja)

spasi("Gaji yang di terima Dewi kalau sabtu minggu libur", gajiKalauLibur)
spasi("Gaji yang di terima Dewi kalau sabtu minggu tidak libur", gajiKalauTidakLibur)

# Jawaban Kedua
gajiLiburTujangan = float(gajiKalauLibur * (10/100))
gajiTidakLiburTujangan = float(gajiKalauTidakLibur * (10/100))
spasi("Tunjangan pada bulan agustus adalah kalau sabtu minggu libur", gajiLiburTujangan, False)
spasi("Dan berarti Gaji yang di terima adalah",gajiLiburTujangan + gajiKalauLibur)
spasi("Tunjangan pada bulan agustus adalah kalau tidak libur", gajiTidakLiburTujangan, False)
spasi("Dan berarti Gaji yang di terima adalah",gajiTidakLiburTujangan + gajiKalauTidakLibur)

# Jawaban Ketiga
gajiLemburKalauLibur = (5 * 10000)
gajiLemburKalauTidakLibur = (5 * 10000)
gajiLemburKalauLibur += gajiKalauLibur + gajiLiburTujangan
gajiLemburKalauTidakLibur += gajiKalauTidakLibur + gajiTidakLiburTujangan

spasi("Gaji yang total yang di terima Dewi (Tunjangan, Lembur, \n tidak masuk selama 3 hari) Apabila Sabtu Minggu Libur", gajiLemburKalauLibur)
spasi("Gaji yang total yang di terima Dewi (Tunjangan, Lembur, \n tidak masuk selama 3 hari) Apabila Sabtu Minggu Tidak Libur", gajiLemburKalauTidakLibur)

Gaji yang di terima Dewi kalau sabtu minggu libur                     : 4800000

Gaji yang di terima Dewi kalau sabtu minggu tidak libur               : 6720000

Tunjangan pada bulan agustus adalah kalau sabtu minggu libur          : 480000.0
Dan berarti Gaji yang di terima adalah                                : 5280000.0

Tunjangan pada bulan agustus adalah kalau tidak libur                 : 672000.0
Dan berarti Gaji yang di terima adalah                                : 7392000.0

Gaji yang total yang di terima Dewi (Tunjangan, Lembur,
 tidak masuk selama 3 hari) Apabila Sabtu Minggu Libur  : 5330000.0

Gaji yang total yang di terima Dewi (Tunjangan, Lembur,
 tidak masuk selama 3 hari) Apabila Sabtu Minggu Tidak Libur  : 7442000.0